In [1]:
a=[1,3,5,7,9]
print(a)
print(a[0]) # 인덱스 0
print(a[-1]) # -1 : 오른쪽에서 첫번째
a=[1,2,3,['a','b','c']] # 2차원
print(a[-1][0])

[1, 3, 5, 7, 9]
1
9
a

In [2]:
a=[1,2,3,4,5]
b=a # 얕은 복사
# a==>[1,2,3,4,5]
# b==>
print(id(a)) # id : 변수의 주소값
print(id(b))
b[0]=10
print('a:',a)
print('b:',b)

1948716480512
1948716480512
a: [10, 2, 3, 4, 5]
b: [10, 2, 3, 4, 5]

In [4]:
a=[1,2,3,4,5]
b=a[:] # [start:stop:step] [:] 전체
b[0]=10
print(id(a))
print(id(b))
print('a:',a)
print('b:',b)

1948722691968
1948716741184
a: [1, 2, 3, 4, 5]
b: [10, 2, 3, 4, 5]

In [5]:
a=[1,2,3,4,5]

# 리스트의 슬라이싱
print(a[0:2])

# 리스트 더하기
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

# 리스트 반복
a = [1,2,3]

# 리스트 a를 3회 반복
b = a * 3
print(b)

[1, 2]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
a = [1,2,3]
a[2]+'hi' # 숫자+문자열 에러

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
a=[1,2,3]
str(a[2])+'hi' # str(숫자) 숫자를 문자열로

'3hi'

In [8]:
a=[1,2,3]
print(a[1:2])
a[1:2]=['a','b','c']
print(a)
a=[1,2,3]
a[1]=['a','b','c']
print(a)

[2]
[1, 'a', 'b', 'c', 3]
[1, ['a', 'b', 'c'], 3]

In [9]:
a=[1,2,3]
a[1:3]=[]
print(a)

[1]

In [10]:
a=[1,2,3]
del a[1]
print(a)

[1, 3]

In [11]:
# 리스트에 요소 추가(append)
a=[1,2,3]
a.append(4)
print(a)

# 리스트를 추가할 수 있음
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [13]:
# 리스트의 정렬
a=[1,4,3,2]
a.sort()
print(a)

a=['a','c','b']
a.sort()
print(a)

[1, 2, 3, 4]
['a', 'b', 'c']

In [14]:
# 리스트 뒤집기
a = ['a','c','b']
a.reverse()
print(a)

['b', 'c', 'a']

In [18]:
# 인덱스 반환
a=[1,2,3]
print(a.index(3))
print(a.index(1))
# 존재하지 않는 값을 입력하면 에러 발생
try:
    print(a.index(0))
except:
    print('error')

print('end')

2
0
error
end

In [16]:
# 리스트에 요소 삽입(insert)
a = [1, 2, 3]
print(a)
# 인덱스 0에 4 insert
a.insert(0,4)
print(a)

[1, 2, 3]
[4, 1, 2, 3]

In [19]:
# 리스트 요소 제거(remove)
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [20]:
# 리스트 요소 끄집어내기(pop)
# pop() : 리스트의 맨 마지막 요소를 돌려 주고 그 요소는 삭제
a = [1, 2, 3]
b=a.pop()
print(a)
print(b)

[1, 2]
3

In [21]:
a=[1,2,3,1]
b=a.count(1) # 1의 개수
b

2

In [23]:
a=[1,2,3]
a.extend([4,5]) # 배열 더하기
a

[1, 2, 3, 4, 5]

In [24]:
a=[1,2,3,4,5]
result = 2 in a # 리스트에 2의 값이 있으면 true
print(result)
result= 2 not in a # 리스트에 2의 값이 없으면 true
print(result)

True
False

In [25]:
# 리스트 변경 가능, 튜플 변경 안됨
t1=(1,2,'a','b') # 소괄호
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

In [33]:
# 튜플은 삭제 할 수 없다.
t1=(1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [27]:
t1=(1,2,'a','b')
print(t1)
print(t1[0])
print(t1[1:])
t2=(3,4)
print(t1+t2) # 튜플 연결
print(t2*3) # 반복

(1, 2, 'a', 'b')
1
(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)

In [36]:
t1=(1,2,3)

n1,n2,n3=t1

# n1=t1[0]
# n2=t1[1]
# n3=t1[2]

print('{} {} {}'.format(n1,n2,n3))

1 2 3

In [37]:
n1,n2=n2,n1
print('{} {}'.format(n1,n2))

2 1

In [38]:
# 튜플과 리스트의 변환
my_list=[1,2,3]
my_tuple=('x','y','z')

# 리스트를 튜플로 복사
print(tuple(my_list))

# 튜플을 리스트로 복사
print(list(my_tuple))

(1, 2, 3)
['x', 'y', 'z']

In [39]:
# 딕셔너리 자료형
# key와 value를 한 쌍으로 갖는 자료형(자바의 map, php의 연관배열)
# {key:value}
a = {1 : 'a'}
a[2]='b'
print(a)

{1: 'a', 2: 'b'}

In [40]:
# key값으로 value값 출력
a={'name':'김철수','phone':'01099933323','birth':'901231'}
print(a['name'])
print(a.get('name'))
print(a['phone'])
print(a.get('phone'))
print(a['birth'])
print(a.get('birth'))

김철수
김철수
01099933323
01099933323
901231
901231

In [43]:
# Value 리스트 만들기(values)
a={'name':'김철수','phone':'01099933323','birth':'901231'}
b=a.values()
print(b)

# key 리스트 만들기
b=a.keys()
print(b)

dict_values(['김철수', '01099933323', '901231'])
dict_keys(['name', 'phone', 'birth'])

In [42]:
# 딕셔너리의 아이템
a={'name':'김철수','phone':'01099933323','birth':'901231'}

# 튜플 형식의 키-값 쌍으로 구성된 리스트가 리턴됨
print(a.items())

dict_items([('name', '김철수'), ('phone', '01099933323'), ('birth', '901231')])

In [44]:
# 해당 Key가 딕셔너리 안에 있는지 확인하기(in)
a={'name':'김철수','phone':'01099933323','birth':'901231'}
b='name' in a
print(b)
b='email' in a
print(b)

True
False

In [48]:
# 집합 자료형
# 중복값을 허용하지 않음, 순서가 없음
s1 = set([1,2,3])
print(s1)
s1 = set([1,2,3,3,3,3]) # 중복값 제거
print(s1)

{1, 2, 3}
{1, 2, 3}

In [47]:
# 교집합
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
s3=s1 & s2
print(s3)
s3 = s1.intersection(s2)
print(s3)

# 합집합
s4 = s1 | s2
print(s4)
s4=s1.union(s2)
print(s4)

# 차집합
s5 = s1 - s2
print(s5)
s5 = s1.difference(s2)
print(s5)

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}